.font10{    
    font-size:		10px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font12{    
    font-size:		12px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font14{    
    font-size:		14px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font16{    
    font-size:		16px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font18{    
    font-size:		18px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font20{   
    font-size:		20px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}



.font10b{    
    font-size:		10px;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font12b{    
    font-size:		12px;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font14b{    
    font-size:		14px;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font16b{    
    font-size:		16px;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font18b{    
    font-size:		18px;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font20b{   
    font-size:		20px;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font10i{    
    font-size:		10px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font12i{    
    font-size:		12px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font14i{    
    font-size:		14px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font16i{    
    font-size:		16px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font18i{    
    font-size:		18px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font20i{   
    font-size:		20px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font10bi{    
    font-size:		10px;
    font-style:         italic;
    font-weight:        100;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font12bi{    
    font-size:		12px;
    font-style:         italic;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font14bi{    
    font-size:		14px;
    font-style:         italic;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font16bi{    
    font-size:		16px;
    font-style:         italic;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font18bi{    
    font-size:		18px;
    font-style:         italic;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}

.font20bi{   
    font-size:		20px;
    font-style:         italic;
    font-weight:        bold;
    font-family:	"Verdana","Times New Roman",Georgia,Serif;
}