.mainMenu a:link {
    color:              #4B4B4B;
    text-decoration:    none;
}
         
.mainMenu a:visited {
    color:              #4B4B4B;
    text-decoration:    none;
} 
     
.mainMenu a:hover {
    color:              #4B4B4B;
    text-decoration:    none;
    
    display:            block;
    background-color:   #ffffff;
    height:             15px;
    
    border-right:       1px solid #000000;
    border-left:        1px solid #000000;
    border-top:         1px solid #000000;
}

.mainMenuSelected{    
    color:              #4B4B4B;
    text-decoration:    none;
    
    display:            block;
    background-color:   #ffffff;
    height:             15px;
    
    border-right:       1px solid #000000;
    border-left:        1px solid #000000;
    border-top:         1px solid #000000;
}
     
.mainMenu{
    margin:             0px;
    padding-bottom:     0px;
}
     
.mainMenu a{
    padding:            0px;
    margin:             0px;
}


.mainMenu ul{
    padding:            0px;
    margin:             0px;
}

.mainMenu li{
    text-align:         center;
    padding:            0px;
    margin:             0px;
    display:            block;
    width:              75px;
    float:              left;
    text-decoration:    none;
    list-style:         none;

}

.right ul{
    float:              right;
    padding-top:        0px;
    padding:            0px;
    margin:             0px;
}